body {
  background-color: #EDEDED;
  font-size: 18px;
  color: #696969
}

.container {
  box-sizing: border-box;
  width: 400px;
  margin: 0 auto;
  padding: 35px 10px;
  background-color: #DCDCDC;
  border-radius: 30px;
}

.app-container {
  box-sizing: border-box;
  padding: 10px 15px;
  background:
    linear-gradient(#EDEDED, transparent 1px),
    linear-gradient(90deg,
      #EDEDED, transparent 1px);
  background-size: 20px 20px;
  background-position: center center;
  background-color: #ffffff;
}

.title {
  margin: 0;
  font-weight: normal;
  color: #696969
}